<form (submit)="$event.preventDefault(); submit()">

  <div class="form-container">

    <!-- EMAIL -->
    <label>
      <span>Email</span>
      <input type="email"
             [formField]="form.email"
             [class.invalid]="form.email().invalid() && form.email().touched()" />

      @if (form.email().invalid() && form.email().touched()) {
        <span class="error-text">
          {{ form.email().errors()?.[0]?.message }}
        </span>
      }
    </label>

    <!-- PASSWORD -->
    <label>
      <span>Password</span>
      <input type="password"
             [formField]="form.password"
             [class.invalid]="form.password().invalid() && form.password().touched()" />

      @if (form.password().invalid() && form.password().touched()) {
        <span class="error-text">
          {{ form.password().errors()?.[0]?.message }}
        </span>
      }
    </label>

    <!-- BUTTON -->
    <button class="btn btn-primary w-100"
            type="submit"
            [disabled]="form().submitting() || !isValid()">
      Sign In
    </button>



  </div>

</form>
