<form (submit)="$event.preventDefault(); submitForm()">
  <div class="form-container">
    <div class="d-flex justify-content-center mb-4">
      <!-- Container für beide Tabs mit Rahmen -->

    </div>

  <div class="row">
    <label>
      <span>Benutzername</span>
      <input  type="text" [formField]="registerForm.username" placeholder=""
             [class.invalid]="registerForm.username().invalid() && registerForm.username().touched()" />
      @if (registerForm.username().invalid() && registerForm.username().touched()) {
        <span class="error-text">{{ registerForm.username().errors()?.[0]?.message }}</span>
      }
    </label>
    <label>
      <span>E-Mail</span>
      <input  type="email" [formField]="registerForm.email" placeholder=""
             [class.invalid]="registerForm.email().invalid() && registerForm.email().touched()" />
      @if (registerForm.email().invalid() && registerForm.email().touched()) {
        <span class="error-text">{{ registerForm.email().errors()?.[0]?.message }}</span>
      }
    </label>


    <label>
      <span>Passwort</span>
      <input type="password" [formField]="registerForm.password" placeholder=""
             [class.invalid]="registerForm.password().invalid() && registerForm.password().touched()" />
      @if (registerForm.password().invalid() && registerForm.password().touched()) {
        <span class="error-text">{{ registerForm.password().errors()?.[0]?.message }}</span>
      }
    </label>
    <label>
      <span> Passwort bestätigen</span>
      <input
        type="password"
        [value]="registerModel().confirmPassword"
        (input)="registerModel.set({ ...registerModel(), confirmPassword: $any($event.target).value })"
        [class.invalid]="registerModel().confirmPassword && !passwordsMatch()"
      />
      @if (registerModel().confirmPassword && !passwordsMatch()) {
        <span class="error-text">Passwort stimmt nicht überein!</span>
      }
    </label>
  </div>
    <div class="form-actions">
      <p class="terms-text">
        Durch die Registrierung, erkläre ich mich mit den Datenschutzbestimmungen einverstanden.
      </p>
      <button class ="btn btn-primary w-100" type="submit"
              [disabled]="registerForm().submitting() || !isFormValid()">
        Registrieren
      </button>

      @if (feedbackMessage()) {
        <p class="mt-3" [class.text-success]="registrationSucceeded()" [class.text-danger]="!registrationSucceeded()">
          {{ feedbackMessage() }}
        </p>
      }
    </div>


  </div>
</form>
