<form (submit)="$event.preventDefault(); submitForm()">
  <div class="form-container">
    <div class="d-flex justify-content-center mb-4">
      <!-- Container für beide Tabs mit Rahmen -->
      <div class="tab-container d-flex rounded ">

        <!-- Sign Up -->
        <div class="tab"
             [class.tab-active]="isSignUp()"
             [class.tab-inactive]="!isSignUp()"
             (click)="setSignUp(true)">
          Sign Up
        </div>

        <!-- Sign In -->
        <div class="tab"
             [class.tab-active]="!isSignUp()"
             [class.tab-inactive]="isSignUp()"
             (click)="setSignUp(false)">
          Sign In
        </div>

      </div>
    </div>

  <div class="row">
    <div class="col-md-6 mb-3">
    <label>
      <span>Firstname</span>
      <input type="text" [formField]="registerForm.firstName"
             [class.invalid]="registerForm.firstName().invalid() && registerForm.firstName().touched()" />
      @if (registerForm.firstName().invalid() && registerForm.firstName().touched()) {
        <span class="error-text">{{ registerForm.firstName().errors()?.[0]?.message }}</span>
      }
    </label>
    </div>

    <div class="col-md-6 mb-3">
    <label>
      <span>Lastname</span>
      <input type="text" [formField]="registerForm.lastName"
             [class.invalid]="registerForm.lastName().invalid() && registerForm.lastName().touched()" />
      @if (registerForm.lastName().invalid() && registerForm.lastName().touched()) {
        <span class="error-text">{{ registerForm.lastName().errors()?.[0]?.message }}</span>
      }
    </label>
    </div>

    <label>
      <span>E-Mail</span>
      <input class="form-control" type="email" [formField]="registerForm.email" placeholder=""
             [class.invalid]="registerForm.email().invalid() && registerForm.email().touched()" />
      @if (registerForm.email().invalid() && registerForm.email().touched()) {
        <span class="error-text">{{ registerForm.email().errors()?.[0]?.message }}</span>
      }
    </label>


    <label>
      <span>Password</span>
      <input type="password" [formField]="registerForm.password" placeholder=""
             [class.invalid]="registerForm.password().invalid() && registerForm.password().touched()" />
      @if (registerForm.password().invalid() && registerForm.password().touched()) {
        <span class="error-text">{{ registerForm.password().errors()?.[0]?.message }}</span>
      }
    </label>
  </div>
    <div class="form-actions">
      <p class="terms-text">
        By signing up, I agree with the Terms of Use& Privacy Policy
      </p>
      <button class ="btn btn-primary w-100" type="submit" [disabled]="registerForm().submitting()">
        {{ isSignUp() ? 'Sign Up' : 'Sign In' }}
      </button>
    </div>

    <!-- Switch Link -->
    <p class="text-center mt-3">
      {{ isSignUp() ? 'Already have an account?' : "Don't have an account?" }}

    </p>
  </div>
</form>
