<div class="change-password-container">
  <h3>Passwort ändern</h3>

  <form (submit)="submitForm($event)" class="form">
    @if (successMessage()) {
      <div class="alert alert-success">
        {{ successMessage() }}
      </div>
    }

    @if (backendError()) {
      <div class="alert alert-error">
        {{ backendError() }}
      </div>
    }

    <div class="form-element">
      <label for="oldPassword">Ursprüngliches Passwort:</label>
      <div class="password-input">
        <input
          [type]="showOldPassword() ? 'text' : 'password'"
          id="oldPassword"
          [formField]="changePasswordForm.password"
          [class.error-touched]="changePasswordForm.password().touched()"
          [class.error-invalid]="
      (changePasswordForm.password().touched() && changePasswordForm.password().invalid()) || !!oldPasswordError()
    "
        />

        <div class="icon-container" (click)="showOldPassword.set(!showOldPassword())">
          @if (!showOldPassword()) {
            <div class="icon">
              <!-- Auge offen -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
            </div>
          } @else {
            <div class="icon">
              <!-- Auge geschlossen -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"/>
              </svg>
            </div>
          }
        </div>
      </div>
      @if (changePasswordForm.password().touched() && changePasswordForm.password().invalid()) {
        @for (err of changePasswordForm.password().errors(); track err.kind) {
          <p class="err">{{ err.message }}</p>
        }
      }

      @if (oldPasswordError()) {
        <p class="err">{{ oldPasswordError() }}</p>
      }
    </div>

    <ul class="password-rules">
      <li>Mindestens 8 Zeichen</li>
      <li>Mindestens 1 Zahl</li>
      <li>Kleinbuchstaben</li>
      <li>Großbuchstaben</li>
      <li>Sonderzeichen</li>
    </ul>

    <div class="form-element">
      <label for="newPassword">Neues Passwort:</label>

      <div class="password-input">
        <input
          [type]="showNewPassword() ? 'text' : 'password'"
          id="newPassword"
          [formField]="changePasswordForm.newPassword"
          [class.error-touched]="changePasswordForm.newPassword().touched()"
          [class.error-invalid]="
      (changePasswordForm.newPassword().touched() && changePasswordForm.newPassword().invalid()) || !!newPasswordBackendError()
    "
        />

        <div class="icon-container" (click)="showNewPassword.set(!showNewPassword())">
          @if (!showNewPassword()) {
            <div class="icon">
              <!-- Auge offen -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
            </div>
          } @else {
            <div class="icon">
              <!-- Auge geschlossen -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"/>
              </svg>
            </div>
          }
        </div>
      </div>

      @if (changePasswordForm.newPassword().touched() && changePasswordForm.newPassword().invalid()) {
        @for (err of changePasswordForm.newPassword().errors(); track err.kind) {
          <p class="err">{{ err.message }}</p>
        }
      }

      @if (oldAndNewAreEqual()) {
        <p class="err">Das neue Passwort darf nicht dem alten Passwort entsprechen.</p>
      }

      @if (newPasswordBackendError()) {
        <p class="err">{{ newPasswordBackendError() }}</p>
      }
    </div>

    <div class="form-element">
      <label for="repeatPassword">Neues Passwort wiederholen:</label>

      <div class="password-input">
        <input
          [type]="showRepeatPassword() ? 'text' : 'password'"
          id="repeatPassword"
          [formField]="changePasswordForm.repeatPassword"
          [class.error-touched]="changePasswordForm.repeatPassword().touched()"
          [class.error-invalid]="
      (changePasswordForm.repeatPassword().touched() && changePasswordForm.repeatPassword().invalid()) ||
      (changePasswordForm.repeatPassword().touched() && changePasswordForm.newPassword().touched() && !passwordsMatch())
    "
        />

        <div class="icon-container" (click)="showRepeatPassword.set(!showRepeatPassword())">
          @if (!showRepeatPassword()) {
            <div class="icon">
              <!-- Auge offen -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"/>
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
              </svg>
            </div>
          } @else {
            <div class="icon">
              <!-- Auge geschlossen -->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"/>
              </svg>
            </div>
          }
        </div>
      </div>

      @if (changePasswordForm.repeatPassword().touched() && changePasswordForm.repeatPassword().invalid()) {
        @for (err of changePasswordForm.repeatPassword().errors(); track err.kind) {
          <p class="err">{{ err.message }}</p>
        }
      }
    </div>

    @if (!passwordsMatch() && changePasswordForm.repeatPassword().touched() && changePasswordForm.newPassword().touched()) {
      <p class="err">Die Passwörter stimmen leider nicht überein.</p>
    }

    <div class="button-container">
      <app-generic-button
        [label]="'Passwort ändern'"
        [type]="'submit'"
        [disabled]="buttonDisabled()"
        [loading]="loading()"
      />
    </div>
  </form>
</div>
